<%= form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label 'Name:' %><br>
    <%= form.text_field :title, maxLength: 20 %>
  </p>

  <p>
    <%= form.label 'Image URL:' %><br>
    <%= form.text_field :image, maxLength: 100 %>
  </p>

  <p>
    <%= form.label 'Price per item:' %><br>
    <%= form.number_field :text, min: 0.01, max: 999999, size: 10, maxLength: 10, step: 0.01 %>
  </p>

  <p>
    <%= form.label 'In Stock (quantity):' %><br>
    <%= form.number_field :quantity, min: 1, max: 999999, size: 8, maxLength: 6, step: 1 %>
  </p>

  <p><br>
    <%= form.submit "Submit"%>
  </p>

<% end %>
