<h1>Listing Grocery Items</h1>

<%= link_to 'New Item', new_article_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th colspan="2"></th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
<!-- needs way to add item to a cart -->
      <td><%= link_to 'Add to cart', new_cart_path(article) %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>

  <%= link_to 'View Cart', carts_path %>

</table>
