<p>
  <strong>Product:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.text %>
</p>

<h2>Product Reviews</h2>
<%= render @article.comments %>

<h2>Add a review:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Back', articles_path %>
