<h1>View Item</h1>
<p>
  <strong>Item Name:</strong>
  <%= @article.title %>
</p>

<%= image_tag(@article.image, class: "img-responsive", alt: "(Image)") %>

<p>
  <strong>Price:</strong>
  $<%= @article.text %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @article.quantity %>
</p>

<%= button_to 'Add To Cart', new_cart_path(), method: :get, params: {id: @article} %><br>
<%= link_to 'Back', articles_path %>
